.main-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5rem;
  /* padding: 8rem; */
  height: 100%;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  height: 100%;
}

.doc-title {
  margin-bottom: 1rem;
  text-transform: uppercase;
  color: var(--primary-color);
}

.first {
  padding: 6rem 0 0 6rem;
}

.center {
  text-align: center;
}

.second-inner {
  padding-left: 4rem;
}

.img {
  max-width: 15rem;
  height: 15rem;
  border: 2px solid var(--primary-color);
}

.second {
  display: flex;
  align-items: flex-end;
  height: 100%;
}